<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../src/public-css/main.css">
    <title>Movie</title>
  </head>
  <body>
    <main class="container">
      <h1 class="title"><%= title %></h1>
      <p class="genre"><%= genre %></p>
      <p class="year"><%= year %></p>
      <p class="category"><%= category %></p>
    </main>
  </body>
</html>
